
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}-Orient</title>
        <link rel="shortcut icon" href="">
        <meta charset="UTF-8"/>

    </head>
    <body>
      <center>
          <form method="POST", action="/">
              <h1> Orient</h1></br></br>
              <h5>Veuiller entrer Matricule</h5>

              <label for="matricule">Matricule:</label><br>
              <input type="text" id="matricule" name="matricule" placeholder="dakhal l matricule"><br><br>
              <input type="submit" value="Submit">
            </form>

      </center>


    </body>
</html>